body {
    background-color: rgb(20, 20, 20);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    background-color: rgb(30, 30, 30);
    padding: 1.25rem;
    border-radius: 8px;
    width: 25rem;
    height: 18rem;
    margin: 15rem auto;
    display: flex;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 23.8rem;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
    background-color: #333;
    color: #fff;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #555;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #777;
  }

  a{
    display: flex;
    tex-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    height: 2.6rem;
    background-color: #555;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  a:hover {
    background-color: #777;
  }